<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElimuPay"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".paymentconfirmation.BankConfirmation"
            android:exported="false" />
        <activity
            android:name=".paymentconfirmation.MpesaConfirmation"
            android:exported="false" />
        <activity
            android:name="com.emt.elimupay.Login"
            android:exported="true"
            android:theme="@style/Theme.ElimuPay.NoActionBar">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".paymentmethods.eCitizenPaymentActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".paymentmethods.BankPaymentActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".paymentmethods.MpesaPaymentActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".paymentconfirmation.ConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".paymentmethods.CardPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".FeesStatementsActivity"
            android:exported="true" />
        <activity
            android:name=".paymentmethods.PaymentMethods"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ResetPassword"
            android:exported="true"
            android:theme="@style/Theme.ElimuPay.NoActionBar" >
<!--         <intent-filter>-->
<!--         <action android:name="android.intent.action.MAIN" />-->


<!--         <category android:name="android.intent.category.LAUNCHER" />-->
<!--         </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
    </application>

</manifest>